.pet-viewer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;

  &--empty{
    font-family: var(--font-family);
    font-size: var(--tabs-font-size);
    font-weight: var(--tabs-font-weight);
    text-align: center;
    color: var(--primary-dark-gray-color);
  }
}

