.pet-viewer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.25rem;

  &--empty {
    font-family: var(--font-family);
    font-size: var(--tabs-font-size);
    font-weight: var(--tabs-font-weight);
    text-align: center;
    color: var(--primary-dark-gray-color);
  }
}
