.btn {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background 0.2s ease-in, border-color 0.2s ease-in;

  &:disabled {
    cursor: not-allowed;
  }

  &--primary {
    background: var(--primary-orange-color);
    border: 0.125rem solid transparent;
    color: var(--primary-white-color);

    &:hover {
      background: var(--primary-orange-hover-color);
    }

    &:disabled {
      background-color: var(--primary-light-disabled-color);
      border-color: var(--primary-light-disabled-color);
      color: var(--primary-disabled-color);
    }
  }

  &--outline {
    background: transparent;
    border: 0.125rem solid var(--primary-orange-color);
    color: var(--primary-orange-color);

    &:hover {
      border-color: var(--primary-orange-hover-color);
      color: var(--primary-orange-hover-color);
    }

    &:disabled {
      border-color: var(--primary-disabled-color);
      color: var(--primary-disabled-color);
    }
  }
}
