.tab-list-container {
  display: flex;
  max-height: 37.5rem;
  width: 16.875rem;
  flex-direction: column;
  gap: 0.625rem;

  &__title {
    font-family: var(--font-family);
    font-weight: var(--tabs-title-font-weight);
    font-size: var(--tabs-font-size);
    color: var(--primary-black-color);
  }

  &__tab-list {
    display: flex;
    flex-direction: column;
    padding-left: 0.3125rem;
    gap: 0.3125rem;
  }
}

.tab-list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--font-family);
    font-weight: var(--tabs-font-weight);
    font-size: var(--tabs-font-size);
    color: var(--primary-black-color);

    border-radius: 0.4375rem;
    padding: 0.5rem;
    cursor: pointer;
    transition:
            background-color 0.3s ease,
            color 0.3s ease,
            transform 0.2s ease;

    &:hover {
      transform: translateY(-0.125rem);
    }

    &:hover:not(&--active) {
      color: var(--primary-orange-hover-color);
    }

    &--active {
      font-weight: var(--tabs-title-font-weight);
      color: var(--primary-orange-color);
      border: 0.0625rem solid var(--primary-orange-color);
    }
  }
}
