.side-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  min-width: 280px;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-left: 3px solid transparent;
    transition:
            background-color 0.3s ease-in-out,
            border-left-color 0.3s ease-in-out,
            transform 0.2s ease,
            color 0.3s ease;

    &:hover:not(&--active) {
      cursor: pointer;
      border-left-color: var(--primary-orange-hover-color);
      transform: translateY(-2px);
      color: var(--primary-orange-hover-color);
    }

    &--active {
      border-left: 3px solid var(--primary-orange-color);
      font-weight: var(--tabs-title-font-weight);
      color: var(--primary-orange-color);
    }

    &-title {
      font-family: var(--font-family);
      font-weight: var(--title-font-weight);
      font-size: var(--tabs-font-size);
      color: var(--primary-black-color);
      padding: 5px 5px;
      transition: color 0.3s ease;
    }
  }
}
