.pagination-container {
  display: flex;
  gap: 0.5rem;

  &__pagination-button {
    width: var(--pagination-button-size);
    height: var(--pagination-button-size);
    border: 0.0625rem solid var(--primary-orange-color);
    border-radius: 0.25rem;
    background-color: var(--primary-white-color);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover:not(:disabled, &--active) {
      border-color: var(--primary-orange-hover-color);
      color: var(--primary-orange-hover-color);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &--active {
      background-color: var(--primary-orange-color);
      color: var(--primary-white-color);
    }
  }
}
