:root {
  --primary-orange-color: #B85B2F;
  --primary-orange-hover-color: #b6430c;
  --primary-orange-focused-color: #95431b;

  --primary-white-color: #FFFFFF;
  --primary-light-gray-color: #C7CCCC;
  --primary-hover-light-gray-color: #919191;
  --primary-light-focused-gray: #4c4c4c;

  --primary-disabled-color: #919191;
  --primary-light-disabled-color: #dad9d9;

  --primary-black-color: #394345;
  --primary-black-hover-color: #191717;

  --shadow-color: rgba(0, 0, 0, 0.3);

  --success-text-color: #28a745;
  --success-border-color: #127028;
  --success-background-color: #e5ffed;


  --error-text-color: #dc3545;
  --error-border-color: #a81928;
  --error-background-color: #ffeaea;

  --font-family: Tahoma, sans-serif;
  --input-font-size: 16px;
  --input-font-weight: 500;
  --input-border-radius: 8px;

  --label-font-size: 16px;
  --label-font-weight: 300;
  --label-color: var(--primary-black-color);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}