:root {
  --primary-orange-color: #B85B2F;
  --primary-orange-hover-color: #b6430c;
  --primary-orange-focused-color: #95431b;

  --primary-white-color: #FFFFFF;
  --primary-light-gray-color: #C7CCCC;
  --primary-hover-light-gray-color: #919191;
  --primary-light-focused-gray: #4c4c4c;

  --primary-disabled-color: #919191;
  --primary-light-disabled-color: #dad9d9;

  --primary-black-color: #394345;
  --primary-black-hover-color: #191717;

  --shadow-color: rgba(0, 0, 0, 0.3);
  --font-family: Tahoma, sans-serif;

  --success-color: #28a745;
  --error-color: #dc3545;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}