:root {
  --primary-orange-color: #B85B2F;
  --primary-orange-hover-color: #b6430c;
  --primary-orange-focused-color: #95431b;

  --primary-white-color: #FFFFFF;
  --primary-hover-white-color: #f4f4f4;

  --primary-light-gray-color: #C7CCCC;
  --primary-hover-light-gray-color: #919191;
  --primary-light-focused-gray: #4c4c4c;

  --primary-dark-gray-color: #575757;

  --primary-disabled-color: #919191;
  --primary-light-disabled-color: #dad9d9;

  --primary-black-color: #394345;
  --primary-black-hover-color: #191717;

  --shadow-color: rgba(0, 0, 0, 0.3);

  --success-text-color: #28a745;
  --success-border-color: #127028;
  --success-background-color: #e5ffed;


  --error-text-color: #dc3545;
  --error-border-color: #a81928;
  --error-background-color: #ffeaea;

  --font-family: Tahoma, sans-serif;
  --input-font-size: 16px;
  --input-font-weight: 500;
  --input-border-radius: 8px;

  --label-font-size: 16px;
  --label-font-weight: 300;
  --label-color: var(--primary-black-color);

  --checkbox-size: 18px;

  --tabs-font-size: 16px;
  --tabs-font-weight: 500;
  --tabs-title-font-weight: 700;
  --tabs-border-radius: 5px;

  --notification-font-size: 14px;
  --notification-error-background-color: var(--error-text-color);
  --notification-success-background-color: var(--success-text-color);
  --notification-info-background-color: var(--primary-white-color);


  --pagination-button-size: 36px;

  --error-message-font-size: 15px;
  --error-message-padding-left: 10px;
  --success-message-font-size: 15px;
  --success-message-padding-left: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

html {
  scroll-behavior: smooth;
}
